html, body {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow-x: auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: #444;
}

body {
	display: block;
	background: var(--primary-color);
	transition: background 0.5s ease;
}

@media (max-width: 480px) {
	html {
		font-size: 14px;
	}
}
